<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>
  <img src="{{url_for('static', filename = 'imgs/contatos.jpg')}}" onclick="exibirAlerta()">
  <p>
    E-mail: alba.lopes@ifrn.edu.br<br>
    Telefone: {{ tel }}
  </p>
</body>

<script src="{{url_for('static', filename = 'js/funcoes.js')}}"></script>
</html>